&.apps.popover {
  height: 280px;
  left: -435px;
  width: 520px;
}

section[data-main] {
  position: relative;
}

textarea.message {
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  border-radius: 4px;
  resize: none;
}

.header {
  position: static;
}

.setting-area {
  position: relative;
  top: -30px;
  right: 5px;

}

#send-msg {
  margin-top: 10px;
  border-radius: 4px;
  padding: 5px 10px;

  &:disabled {
    color: #ccc;
    cursor: default;
  }
}

.senderName {
  font-weight: bold;
}

.messageBody {
  margin-top: 2px;
}

li.message {
  width: 100%;
  box-sizing: border-box;
  padding-top: 19px;
  border-top: 1px solid #eee;
  margin-top: 19px;
  padding-left: 10px;
  padding-right: 10px;

  .date {
    font-size: 11px
  }

  .close {
    font-size: 15px;
    line-height: 13px;
  }

  &:first-child {
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
  }
}

.cancel {
  display: inline-block;
  position: relative;
  top: 6px;
  left: -6px;
}

.groups {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 11px;

  ul {
    width: 100%;
    box-sizing: border-box;

    input {
      width: 118px;
    }
  }
}

.imageInput {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid #eee;

  .upload-icon {
    display: inline-block;
    height: 18px;
    width: 28px;
    background-image: app-asset-url("upload.png");
  }
}

#messages {
  margin: 5px;
  box-sizing: border-box;
}

.new-message {
  padding: 5px 12px;
  border: 1px solid #dadada;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  background-color: #fefefe;
  background: linear-gradient(to bottom, #fefefe 0%,#fefefe 2%,#fbfbfb 2%,#f2f2f2 100%);
  position: absolute;
  top: -32px;
  right: 25px;
}

.placeholder {
  color: #ccc;
}

.token.unknown {
  border: 1px solid #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.btn-default {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form_field .select_groups label {
  padding: 4px 10px 6px 0;
  display: inline;
}