&.apps.popover {
  height: 280px;
  left: -435px;
  width: 250px;
}

textarea.message {
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  border-radius: 4px;
  resize: none;
}

#send-msg {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 5px 12px;
  border: 1px;
  border-color: #D6D6D6;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #D6D6D6;
  background-color: #404040;
  background-image: -webkit-linear-
    gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  position: relative;
  top: 10px;

  &:disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
    opacity: 1;
    box-shadow: none;
  }
}

#send-msg:hover {
  background-color: #3D3D3D;
  color: white;
  border: 1px;
  border-color: #3D3D3D;

  &:disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #fff;
    opacity: 1;
    box-shadow: none;
    cursor: default;
  }
}

.senderName {
  font-weight: bold;
}

.messageBody {
  margin-top: 2px;
}

li.message {
  width: 230px;
  padding-top: 19px;
  border-top: 1px solid #eee;
  margin-top: 19px;
  padding-right: 10px;
  padding-left: 10px;

  .date {
    font-size: 10px;
    color: #999999;
  }

  .close {
    font-size: 15px;
    line-height: 13px;
  }

  &:first-child {
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;

    .close {
      position: relative;
      right: -94px;
    }
  }
}

.cancel {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 5px 12px;
  border: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #555;
  background-color: #fff;
  background-image: -webkit-linear-
    gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  position: relative;
  top: 10px;
  left: -6px;
}

.cancel:hover {
  background-color: #fbfbfb;
  color: #222222;
  border: 1px;
  border-style: solid;
  border-color: #ccc;
}

.groups {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 11px;

  ul {
    width: 206px;
    box-sizing: border-box;
    border-radius: 3px;

    input {
      width: 196px;
    }
  }
}

li.token {
  margin-left: 4px;

  a.delete {
    background-color: #fafafa;
  }
}

.imageInput {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid #eee;

  .upload-icon {
    display: inline-block;
    height: 18px;
    width: 28px;
    background-image: app-asset-url("upload.png");
  }
}

#messages {
  margin: 5px;
  box-sizing: border-box;
}

.new-message {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 5px 12px;
  border: 1px;
  border-color: #D6D6D6;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #D6D6D6;
  background-color: #222222;
  background-image: -webkit-linear-
    gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  position: relative;
  top: -41px;
}

.new-message.pull-right:hover {
  background-color: #3D3D3D;
  color: #fff;
  border: 1px;
  border-color: #3D3D3D;
}

.placeholder {
  color: #ccc;
}

.token.unknown {
  border: 1px solid #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}
